
  
form{
    width: 400px;
    height: auto;
    background-color:#444444;
    border: 1px solid black;
    color: white;
    border-radius: 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
form input{
    height: 25px;
    margin-bottom: 5px;
    font-weight: bold;
    border-radius: 10px;
    width: 98%;
    border: none;
    outline: none;
    transition: border-color 0.3s ease
}

form button{
    width: 120px;
    height: 50px;
    margin-top: 10px;
    margin-left: 145px;
    background-color:#666666;
   color: white;
   padding: 10px 20px;
   font-size: 16px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: transform 0.2s ease-in-out;
}
form button:hover{
    transform: scale(1.1)
      
}
.containerSearch{
    width: 100%;
    margin-top: 20px;
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
    
 
}
.buttonSearch{
    width: 90px;
    height: 40px;
    background-color: green;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.buttonSearch:hover{
    transform: scale(1.1)
}
#search{
    width: 50%;
    height: 30px;
    border-radius: 10px;
    outline: none;
    text-align: left;

}
.titleForm{
    width: 100%;
    text-align: center;
}

@media (max-width: 390px) {
    form {
      width: 320px;
      margin-right: 20px;
    }
    form button{
        margin-left: 99px;
    }
  }
  